[submodule "extern/Levenshtein"]
	path = extern/Levenshtein
	url = https://github.com/maxbachmann/Levenshtein.git
[submodule "extern/python-crfsuite"]
	path = extern/python-crfsuite
	url = https://github.com/scrapinghub/python-crfsuite.git
