[MISCELLANEOUS]

  # List of note tags to take in consideration, separated by a comma.
  notes=XXX

[SIMILARITIES]

  # Minimum lines number of a similarity.
  min-similarity-lines=100

  # Ignore comments when computing similarities.
  ignore-comments=no

  # Ignore imports when computing similarities.
  ignore-imports=no
