[packages]
"dask[complete]" = "*"
pandas = "*"
numpy = "*"
scipy = "*"
holoviews = "*"
ipython = "*"
bokeh = "*"

[dev-packages]
pylint = "==2.3.1"
pytype = "==2019.08.09"
pytest = "*"
mypy = "==0.701"
