<html>

<head>
    <title> {{ context.title }} </title>
    {% include 'grid_scripts.html' %}
    {% include 'grid_styles.html' %}
</head>

<body>
    {% if context.tabledata %}
    <div class="top-info-{{ context.rnd }}">
        <input type='checkbox' style='display: none' id="tb-{{ context.rnd }}">
        <label class="toggle-label-{{ context.rnd }}" for="tb-{{ context.rnd }}">
            Stats and Insights
        </label>
        <div class="stats-{{ context.rnd }}">
            <div class="tabledata-{{ context.rnd }}">
                <div>
                    <h3>Dataset Statistics</h3>
                    <table>
                        {% for th, td in context.tabledata[0].items() %}
                        <tr>
                            <th>{{ th }}</th>
                            <td>{{ td }}</td>
                        </tr>
                        {% endfor %}
                        <tr id="vtr-{{ context.rnd }}">
                            <th style="vertical-align: top;">Variable Types</th>
                            <td>
                                <ul>
                                    {% for tp, num in context.tabledata[1].items() %}
                                    <li>{{ tp }}: {{ num }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="insights-{{ context.rnd }}">
                {% for page, content in context.overview_insights.items() %}
                <div class="page-box-{{ context.rnd }}" id="page-{{ context.rnd }}-{{ loop.index }}">
                    <h3>Dataset Insights</h3>
                    <table>
                        {% for entry in content %}
                        {% for ins_type, insight in entry.items() %}
                        <tr>
                            <th id="des-{{ context.rnd }}">
                                <span title="{{ col_name }}" class="col-name-{{ context.rnd }}">{{ insight.split(' ')[0] }}</span>
                                {{ insight.replace(insight.split(' ')[0], '') }}
                            </th>
                            <td><span class="ins-type-{{ context.rnd }}">{{ ins_type }}</span></td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="page-switch-box-{{ context.rnd }}">
            <ul class="page-switch-{{ context.rnd }}">
                {% for _ in context.overview_insights %}
                {% if loop.length > 1 %}
                <li id="switch-{{ context.rnd }}-{{ loop.index }}" onclick="switchPage{{ context.rnd }}(this)">{{ loop.index }}</li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    {% if context.legend_labels %}
    <div class="plot-legend-{{ context.rnd }}">
        {% for legend in context.legend_labels %}
            <div class="legend-bar-{{ context.rnd }}">
                <div class="legend-color-{{ context.rnd }}" style="background-color: {{ legend.color }};"></div>
                <div class="legend-label-{{ context.rnd }}">{{ legend.label }}</div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="plot-{{ context.rnd }}">
        {% for fig in context.components[1] %}
        <div class="fig-{{ context.rnd }}">
            {% if context.meta %}
            <div class="menu-{{ context.rnd }}">
                <div class="plot-title-{{ context.rnd }}">{{ context.meta[loop.index0] }}</div>
                {% if context.column_insights[context.meta[loop.index0]] %}
                <input type='checkbox' style='display: none' id="ib-{{ context.rnd }}-{{ loop.index0 }}" class="insight-check-{{ context.rnd }}">
                <label class="insight-btn-{{ context.rnd }}" for="ib-{{ context.rnd }}-{{ loop.index0 }}"></label>
                <div class="insight-panel-{{ context.rnd }}">
                    <h4>Column Insights</h3>
                        <ol>
                            {% for insight in context.column_insights[context.meta[loop.index0]] %}
                            <li class="entry-{{ context.rnd }}"><span
                                    class="col-name-{{ context.rnd }}">{{ insight.split(' ')[0] }}</span>{{ insight.replace(insight.split(' ')[0], '') }}
                            </li>
                            {% endfor %}
                        </ol>
                </div>
                {% endif %}
            </div>
            {% endif %}
            
            {{ fig }}
        </div>
        {% endfor %}
    </div>
</body>

</html>